.Toolbar{
    background-color: brown;    
    width: 100%;
    height:76px;
    position:fixed;
    display:flex;
    z-index: 90;
    top:0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px;
    box-sizing: border-box;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    height: 100%;
}

.xyz{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-flow: column; */
    align-items: center;
    height: 100%;
}
.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

.NavigationItem a {
    color:#8F5C2C;
    text-decoration: none;
    /* width: 80%; */
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: #40a4c8;
}



@media(min-width:500px){
    .Toolbar{
        flex-flow: row;
        align-items: center;

    } 
    .NavigationItem{
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color:white;
        height: 50%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover{
        color:#40a4c8;
    }
    .NavigationItem a:active,
    .NavigationItem a.active{
        /* background-color: #8f5c2c; */
        /* border-bottom: 4px solid #40a4c8; */
        color: white;
        /* text-decoration:underline; */
        font-weight: bold;
    }
}

@media(max-width:499px){
    .DesktopOnly{
        display: none;
    }
}