.Auth{
    width:80%;
    margin:70px auto;
    text-align: center;
    padding:10px;
    border: 1px solid gray;
    box-shadow: 0 2px 3px gray;
    box-sizing: border-box;
}

/* .Input{
    display: block;
} */

@media(min-width:600px){
    .Auth{
     width:500px;}
}

.InputElement{
    display: block;
    padding: 10px;
    margin:20px auto;
    width:80%;
    box-shadow:  0 1px 2px gray;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: #cccccc;
}

.Invalid{
    border-color:rgb(240, 18, 18);
    background-color: rosybrown;
}

.ValidationError {
    color: red;
    text-align-last: auto;
    /* margin: 0px ; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
font-weight: bold
} 

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}